[package]
name = "rafs"
version = "0.1.0"
authors = ["The Nydus Developers"]
edition = "2018"
license = "Apache-2.0 OR BSD-3-Clause"

[dependencies]
anyhow = "1.0.35"
# pin arc-swap because 1.x version of ArcSwapAny does not implement Clone
arc-swap = "=0.4"
base64 = { version = ">=0.12.0", optional = true }
bitflags = ">=1.1.0"
blake3 = "1.0"
flate2 = { version = "1.0", features = ["miniz-sys"], default-features = false }
futures = "0.3"
hmac = { version = "0.8.1", optional = true }
lazy_static = "1.4.0"
libc = "0.2"
log = "0.4"
lz4-sys = "1.9.2"
nix = ">=0.23.0"
serde = { version = ">=1.0.27", features = ["serde_derive", "rc"] }
serde_json = ">=1.0.9"
serde_with = { version = "1.6.0", features = ["macros"] }
sha2 = { version = "0.9.1" }
sha-1 = { version = "0.9.1", optional = true }
spmc = "0.3.0"
url = { version = "2.1.1", optional = true }
vm-memory = "0.7.0"
fuse-backend-rs = { version = "0.3.0" }

nydus-utils = { path = "../utils" }
nydus-error = { path = "../error" }
storage = { path = "../storage", features = ["backend-localfs"] }

[dev-dependencies]
vmm-sys-util = ">=0.9.0"
assert_matches = "1.5.0"

[features]
fusedev = ["fuse-backend-rs/fusedev"]
virtio-fs = ["fuse-backend-rs/virtiofs", "vm-memory/backend-mmap"]
vhost-user-fs = ["fuse-backend-rs/vhost-user-fs"]
backend-oss = ["storage/backend-oss"]
backend-registry = ["storage/backend-registry"]
