[package]
name = "nydus-rafs"
version = "0.1.1"
description = "The RAFS filesystem format for Nydus Image Service"
authors = ["The Nydus Developers"]
license = "Apache-2.0 OR BSD-3-Clause"
homepage = "https://nydus.dev/"
repository = "https://github.com/dragonflyoss/image-service"
edition = "2018"

[dependencies]
anyhow = "1.0.35"
arc-swap = "1.5"
base64 = { version = "0.13.0", optional = true }
bitflags = "1.2.1"
blake3 = "1.0"
futures = "0.3"
hmac = { version = "0.12.1", optional = true }
lazy_static = "1.4.0"
libc = "0.2"
log = "0.4"
lz4-sys = "1.9.4"
nix = "0.24"
serde = { version = "1.0.110", features = ["serde_derive", "rc"] }
serde_json = "1.0.53"
sha2 = { version = "0.10.2" }
sha-1 = { version = "0.10.0", optional = true }
spmc = "0.3.0"
url = { version = "2.1.1", optional = true }
vm-memory = "0.9"
fuse-backend-rs = { version = "0.9" }

nydus-api = { version = "0.1", path = "../api" }
nydus-error = { version = "0.2", path = "../error" }
nydus-storage = { version = "0.5", path = "../storage", features = ["backend-localfs"] }
nydus-utils = { version = "0.3", path = "../utils" }

[dev-dependencies]
vmm-sys-util = "0.10"
assert_matches = "1.5.0"

[features]
fusedev = ["fuse-backend-rs/fusedev"]
virtio-fs = ["fuse-backend-rs/virtiofs", "vm-memory/backend-mmap"]
vhost-user-fs = ["fuse-backend-rs/vhost-user-fs"]
backend-oss = ["nydus-storage/backend-oss"]
backend-registry = ["nydus-storage/backend-registry"]

[package.metadata.docs.rs]
all-features = true
targets = ["x86_64-unknown-linux-gnu", "aarch64-unknown-linux-gnu", "aarch64-apple-darwin"]
