[package]
name = "nydus-storage"
version = "0.5.0"
description = "Storage subsystem for Nydus Image Service"
authors = ["The Nydus Developers"]
license = "Apache-2.0 OR BSD-3-Clause"
homepage = "https://nydus.dev/"
repository = "https://github.com/dragonflyoss/image-service"
edition = "2018"

[dependencies]
arc-swap = "1.5"
base64 = { version = "0.13.0", optional = true }
bitflags = "1.2.1"
hmac-sha1-compact = { version = "1.1.1", optional = true }
httpdate = { version = "1.0", optional = true }
lazy_static = "1.4.0"
leaky-bucket = "0.12.1"
libc = "0.2"
log = "0.4.8"
nix = "0.24"
reqwest = { version = "0.11.11", features = ["blocking", "json"], optional = true }
serde = { version = "1.0.110", features = ["serde_derive", "rc"], optional = true }
serde_json = "1.0.53"
tokio = { version = "1.19.0", features = ["rt", "rt-multi-thread", "sync", "time"] }
url = { version = "2.1.1", optional = true }
vm-memory = "0.9"
fuse-backend-rs = "0.10"

nydus-api = { version = "0.1", path = "../api" }
nydus-utils = { version = "0.3", path = "../utils", features = ["zran"] }
nydus-error = { version = "0.2", path = "../error" }

[dev-dependencies]
vmm-sys-util = "0.10"
tar = "0.4.38"

[features]
backend-localfs = []
backend-oss = ["base64", "httpdate", "hmac-sha1-compact", "reqwest"]
backend-registry = ["base64", "reqwest", "serde", "url"]

[package.metadata.docs.rs]
all-features = true
targets = ["x86_64-unknown-linux-gnu", "aarch64-unknown-linux-gnu", "aarch64-apple-darwin"]
