[package]
name = "nydus-utils"
version = "0.1.0"
description = "Utilities for Nydus and Rafs"
authors = ["The Nydus Developers"]
repository = "https://github.com/dragonflyoss/image-service"
edition = "2018"
license = "Apache-2.0 OR BSD-3-Clause"

[dependencies]
blake3 = "1.0"
flate2 = { version = "1.0", features = ["miniz-sys"], default-features = false }
fuse-backend-rs = { version = "0.9.0" }
log = "0.4"
lazy_static = "1.4"
libc = "0.2"
lz4-sys = "1.9.2"
serde = { version = ">=1.0.27", features = ["serde_derive", "rc"] }
serde_json = ">=1.0.9"
sha2 = "0.9.1"
zstd = "0.11"

nydus-error = { version = "0.2", path = "../error" }

[dev-dependencies]
vmm-sys-util = ">=0.9.0"

[features]
fusedev = ["fuse-backend-rs/fusedev"]
